<ion-view ng-controller="LocationsCtrl as vm">
  <ion-content class="has-header">
     <h3>Locations</h3>
     <div class="list">
        <div class="item" ng-repeat="location in vm.locations">
           {{location.name}}
        </div>
     </div>
  </ion-content> 
</ion-view>