<ion-side-menus enable-menu-with-back-views="false">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">

      <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> 
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon">
        </button>
      </ion-nav-buttons>      
    </ion-nav-bar>

    <ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Elite Schedule</h1>
    </ion-header-bar>  
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close ui-sref="home.leagues">Home</ion-item>
        <ion-item nav-clear menu-close ui-sref="app.teams">Teams</ion-item>
        <ion-item nav-clear menu-close ui-sref="app.standings">Standings</ion-item>
        <ion-item nav-clear menu-close ui-sref="app.locations">Locations</ion-item>
        <ion-item nav-clear menu-close ui-sref="app.rules">Rules</ion-item>
      </ion-list>
    </ion-content>

  </ion-side-menu>
</ion-side-menus>