<ion-header-bar class="bar-balanced">
  <h1 class="title">Elite Schedule</h1>
</ion-header-bar>

<ion-tabs class="tabs-energized tabs-icon-top">
  <ion-tab title="Leagues" icon="ion-home" href="#/home/leagues">
    <ion-nav-view name="tab-leagues"></ion-nav-view>
  </ion-tab>
  <ion-tab title="My Teams" icon="ion-star" ui-sref="home.myteams">
    <ion-nav-view name="tab-myteams"></ion-nav-view>
  </ion-tab>
</ion-tabs>